*.pyc
git_app_builder/resources/opt/pythonlibs/*.py
git_applet_builder/resources/opt/pythonlibs/*.py
tarball_app_builder/resources/opt/pythonlibs/*.py
tarball_applet_builder/resources/opt/pythonlibs/*.py
tarball_app_builder_trusty/resources/opt/pythonlibs/*.py
tarball_applet_builder_trusty/resources/opt/pythonlibs/*.py
asset_builder.py
!/asset_builder.py

